<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset='utf-8'>
  <title>Log Analyzer Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <h4 id="header1">
        Simple Log Analyzer, results are updated every 5s
      </h4>

    </div>
    <div class="row">
      <button type="button" class="btn btn-primary" onclick="togglehits();">
        Click to switch between hits vs bytes
      </button>
    </div>
    <div class="row">
      <div id="trend" style="width: 1200px; height: 500px"></div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5> Total Traffic Spikes (Last 60s)</h5>
        <div class="well" id="spikes"></div>
      </div>
      <div class="col-md-4">
        <h5> Tops Sections (Last 10s)</h5>
        <div class="well" id="sections"></div>
      </div>
      <div class="col-md-4">
        <h5> Other Stats (on 120s intervals)</h5>
        <div class="well" id="historic"></div>
      </div>
    </div>
    <div class="row">
      <h5> Past alerts (on 120s intervals)</h5>
      <p class="navbar-text" id="warnings" style="max-height:500px;min-height:100px; resize: none">
        Notifications
      </p>
    </div>
  </div>
  <script type="text/javascript">

    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(Update);
    var hits = 1;
    var options1 = {
      title: 'Traffic and Change in the past 60 seconds',
      vAxis: { title: 'Traffic and Change /hits' },
      hAxis: { title: 'Relative time before update /seconds' },
      series: { 0: { type: 'line' } },
      series: { 1: { type: 'bars' } },
    };
    var options2 = {
      title: 'Traffic and Change in the past 60 seconds',
      vAxis: { title: 'Traffic and Change /bytes' },
      hAxis: { title: 'Relative time before update /seconds' },
      series: { 0: { type: 'line' } },
      series: { 1: { type: 'bars' } },
    };
    function togglehits() {
      hits = !hits;
    }
    function Update() {
      $.ajax({
        url: "/data",
        dataType: "json",
        complete: function (data) {
          console.log(data.responseJSON)
          data = data.responseJSON
          var viz_data = new google.visualization.DataTable(data["traffic"]);
          var view = new google.visualization.DataView(viz_data);
          var chart = new google.visualization.ComboChart(document.getElementById('trend'));
          document.getElementById("header1").innerHTML = "Simple Log Analyzer, results are updated every 5s, latest: " + data["time"]
          if (hits) {
            view.setColumns([0, 1, 3]);
            chart.draw(view, options1);
            document.getElementById("sections").innerHTML = data["top_stats_hits"]
            document.getElementById("spikes").innerHTML = data["grad_hits"]
            document.getElementById("warnings").innerHTML = data["warnings"]["hits"]
            document.getElementById("historic").innerHTML = data["historic"]["hits"]
            document.getElementById("sections").innerHTML = data["top_stats_hits"]
          } else {
            view.setColumns([0, 2, 4]);
            chart.draw(view, options2);
            document.getElementById("sections").innerHTML = data["top_stats_bytes"]
            document.getElementById("spikes").innerHTML = data["grad_bytes"]
            document.getElementById("warnings").innerHTML = data["warnings"]["bytes"]
            document.getElementById("historic").innerHTML = data["historic"]["bytes"]
          }
        }
      })
    }
    setInterval(Update, 5000);
  </script>
</body>

</html>